* {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a:hover {
  text-decoration: none;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

section {
  margin: 60px 0px;
  padding: 30px 0px;
  background-position: center center;
  background-size: cover; }

p {
  color: #828282; }

.fixed {
  width: 100%;
  min-height: 70px; }

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 80%; } }
nav {
  z-index: 999;
  color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  background: #000; }
  nav .container .row {
    height: 70px;
    display: flex;
    align-items: center; }
    nav .container .row .branding {
      text-align: center; }
    nav .container .row .hamburger {
      cursor: pointer;
      width: 70px;
      float: right; }
      nav .container .row .hamburger .toggle {
        float: left; }
        nav .container .row .hamburger .toggle div {
          min-height: 2px;
          background: #fff;
          margin: 5px 0px;
          -webkit-transition: all .3s ease-in-out;
          -moz-transition: all .3s ease-in-out;
          -o-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out; }
          nav .container .row .hamburger .toggle div:nth-child(1) {
            width: 20px; }
          nav .container .row .hamburger .toggle div:nth-child(2) {
            width: 15px; }
          nav .container .row .hamburger .toggle div:nth-child(3) {
            width: 20px; }
      nav .container .row .hamburger span {
        font-weight: 500;
        float: right;
        margin-top: 2px; }

.main_nav {
  top: 0;
  right: 0px;
  width: 50%;
  height: 100%;
  color: #fff;
  display: none;
  z-index: 888;
  background: #000;
  position: fixed;
  z-index: 555; }
  .main_nav .container .row {
    display: flex;
    align-items: center;
    min-height: 100vh; }
    .main_nav .container .row .centred {
      margin: 0 auto; }
      .main_nav .container .row .centred span {
        opacity: 0;
        display: flex;
        color: #959595;
        transition-delay: 0.15s;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out; }
        .main_nav .container .row .centred span a {
          color: #959595; }
          .main_nav .container .row .centred span a:hover {
            text-decoration: none;
            color: #fff; }
      .main_nav .container .row .centred ul {
        margin: 0;
        padding: 0;
        margin-bottom: 30px; }
        .main_nav .container .row .centred ul li {
          opacity: 0;
          padding: 8px 0px;
          list-style: none;
          -webkit-transition: all .3s ease-in-out;
          -moz-transition: all .3s ease-in-out;
          -o-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out; }
          .main_nav .container .row .centred ul li:nth-child(1) {
            padding-top: 16px;
            transition-delay: 0.2s; }
          .main_nav .container .row .centred ul li:nth-child(2) {
            transition-delay: 0.25s; }
          .main_nav .container .row .centred ul li:nth-child(3) {
            transition-delay: 0.3s; }
          .main_nav .container .row .centred ul li:nth-child(4) {
            transition-delay: 0.35s; }
          .main_nav .container .row .centred ul li:nth-child(5) {
            transition-delay: 0.4s; }
          .main_nav .container .row .centred ul li:nth-child(6) {
            transition-delay: 0.45s; }
          .main_nav .container .row .centred ul li:nth-child(7) {
            transition-delay: 0.5s; }
          .main_nav .container .row .centred ul li:nth-child(8) {
            transition-delay: 0.55s; }
          .main_nav .container .row .centred ul li:nth-child(9) {
            transition-delay: 0.6s; }
          .main_nav .container .row .centred ul li a {
            font-size: 28px;
            color: #fff;
            font-weight: bold; }
            .main_nav .container .row .centred ul li a:after {
              content: '.'; }
            .main_nav .container .row .centred ul li a:hover {
              color: #001AFF;
              text-decoration: none; }
      .main_nav .container .row .centred .btn {
        opacity: 0;
        margin-top: 80px;
        margin-bottom: 40px;
        transition-delay: 0.6s;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out; }

.left_main_nav {
  top: 0;
  left: 0px;
  width: 50%;
  height: 100%;
  color: #fff;
  display: none;
  z-index: 888;
  background: #fff;
  position: fixed;
  z-index: 555; }
  .left_main_nav .container .row {
    color: #4F4F4F;
    display: flex;
    align-items: center;
    min-height: 100vh; }
    .left_main_nav .container .row .project-nav {
      opacity: 0;
      margin-top: 80px;
      transition-delay: 0.6s;
      -webkit-transition: all .6s ease-in-out;
      -moz-transition: all .6s ease-in-out;
      -o-transition: all .6s ease-in-out;
      transition: all .6s ease-in-out; }
    .left_main_nav .container .row .centred {
      margin: 0 auto; }
    .left_main_nav .container .row .titel-menu {
      color: #000; }
    .left_main_nav .container .row h3 {
      font-size: 28px;
      color: #000;
      font-weight: bold; }
    .left_main_nav .container .row .project-date {
      color: #828282; }
    .left_main_nav .container .row img {
      width: 100%;
      height: auto; }
    .left_main_nav .container .row p {
      line-height: 28px;
      padding: 20px 0px; }

.close-first {
  transform: rotate(45deg);
  transform-origin: left; }

.close-middle {
  opacity: 0 !important;
  width: 0px !important; }

.close-last {
  transform: rotate(-45deg);
  transform-origin: left; }

.li-visible {
  opacity: 1 !important; }

.btn-visible {
  opacity: 1 !important;
  margin-top: 0px !important; }

.project-visible {
  margin-top: 0px !important;
  opacity: 1 !important; }

.carousel .slide {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  .carousel .slide .container .row {
    color: #fff;
    min-height: 80vh;
    display: flex;
    align-items: center; }
    .carousel .slide .container .row h3 {
      font-weight: 300;
      color: #F2F2F2;
      font-size: 26px; }
    .carousel .slide .container .row h2 {
      font-weight: bold;
      font-size: 48px;
      text-transform: uppercase; }

#diensten-home {
  margin: 60px 0px; }
  #diensten-home .diensten-home .title-home {
    letter-spacing: -1px;
    transform: translateX(-5%);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 28px; }
  #diensten-home .diensten-home .dienst {
    margin: 20px 0px; }
    #diensten-home .diensten-home .dienst .dienst-title {
      font-weight: bold;
      font-size: 20px;
      color: #333333; }
    #diensten-home .diensten-home .dienst p {
      color: #828282; }

#projecten-slide {
  overflow-x: hidden;
  padding: 60px 0px;
  background: #F8FAFF; }
  #projecten-slide #projecten-slider-arrows {
    margin-top: 80px;
    width: 46px;
    float: right; }
  #projecten-slide .slick-next {
    text-indent: -99999px;
    -webkit-appearance: none;
    width: 46px;
    height: 46px;
    border: 1px solid #F2F2F2;
    float: none;
    display: flex;
    margin-top: 5px;
    background: none;
    position: relative;
    outline: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; }
    #projecten-slide .slick-next:after {
      content: '';
      width: 46px;
      height: 46px;
      left: 0;
      top: 0;
      background-repeat: no-repeat;
      background-position: center center;
      position: absolute;
      transform: rotate(-180deg);
      background-image: url(../img/arrow-grey.svg);
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
    #projecten-slide .slick-next:hover {
      cursor: pointer;
      background: #001AFF;
      border-color: #001AFF; }
    #projecten-slide .slick-next:hover:after {
      background-image: url(../img/arrow-white.svg); }
  #projecten-slide .slick-prev {
    text-indent: -99999px;
    -webkit-appearance: none;
    width: 46px;
    height: 46px;
    border: 1px solid;
    float: none;
    display: flex;
    margin-top: 5px;
    background: none;
    position: relative;
    outline: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; }
    #projecten-slide .slick-prev:after {
      content: '';
      width: 46px;
      height: 46px;
      left: 0;
      top: 0;
      background-repeat: no-repeat;
      background-position: center center;
      position: absolute;
      background-image: url(../img/arrow-grey.svg);
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
    #projecten-slide .slick-prev:hover {
      cursor: pointer;
      background: #001AFF;
      border-color: #001AFF; }
    #projecten-slide .slick-prev:hover:after {
      background-image: url(../img/arrow-white.svg); }
  #projecten-slide .projecten-slider {
    width: 150%; }
  #projecten-slide .container-fluid {
    margin-right: 0px; }
  #projecten-slide .project-item {
    padding: 15px; }
    #projecten-slide .project-item p {
      color: #4F4F4F;
      padding: 20px 0px; }
    #projecten-slide .project-item img {
      max-width: 100%; }

footer {
  position: relative;
  color: #fff; }
  footer .container {
    padding-bottom: 60px;
    position: relative; }
    footer .container:after {
      content: '';
      min-width: 200%;
      right: 0;
      top: 0px;
      z-index: 0;
      min-height: 100%;
      background: #111111;
      position: absolute; }
    footer .container .row {
      z-index: 1;
      position: relative; }
  footer .footer-logo {
    width: 110px; }
  footer input {
    padding: 20px !important;
    border-radius: 0px !important;
    border: none !important;
    width: 85% !important;
    -webkit-appearance: none !important; }
  footer form {
    margin: 20px 0px;
    max-width: 70%; }
    footer form .btn {
      float: right; }
  footer .widgets {
    margin-top: 30px;
    padding-bottom: 30px; }
    footer .widgets ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      footer .widgets ul li a {
        color: #828282; }
        footer .widgets ul li a:before {
          content: '';
          width: 10px;
          height: 10px;
          margin-right: 10px;
          display: inline-block;
          background-size: contain;
          background-repeat: no-repeat;
          background-image: url(../img/widget-arrow.svg);
          -webkit-transition: all .2s ease-in-out;
          -moz-transition: all .2s ease-in-out;
          -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out; }
        footer .widgets ul li a:hover:before {
          margin-right: 15px; }
  footer h2 {
    font-size: 22px;
    font-weight: bold;
    color: #fff; }
  footer .socials {
    display: flex;
    align-items: center; }
    footer .socials .title-socials {
      float: left;
      font-weight: bold; }
    footer .socials ul {
      margin: 0;
      padding: 0;
      float: left;
      margin-left: 10px; }
      footer .socials ul li {
        float: left;
        width: 46px;
        height: 46px;
        text-align: center;
        display: flex;
        align-items: center;
        border: 1px solid #fff;
        margin: 0px 5px;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; }
        footer .socials ul li svg {
          margin: 0 auto;
          fill: #fff;
          -webkit-transition: all .2s ease-in-out;
          -moz-transition: all .2s ease-in-out;
          -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out; }
        footer .socials ul li:hover {
          background: #fff; }
  footer .up {
    width: 46px;
    position: absolute;
    right: 3%;
    top: 0px;
    text-align: center;
    font-weight: bold;
    color: #001AFF; }
    footer .up .up-button {
      width: 46px;
      height: 46px;
      background: #001aff;
      display: flex;
      align-items: center; }
      footer .up .up-button svg {
        fill: white;
        zoom: 1.4;
        margin: 0 auto;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; }
      footer .up .up-button:hover {
        border: 2px solid #001AFF;
        background: white; }

.socket .container {
  position: relative; }
  .socket .container:after {
    content: '';
    width: 200%;
    height: 100%;
    background: black;
    position: absolute;
    right: 0px;
    top: 0px; }
.socket .row {
  height: 56px;
  display: flex;
  align-items: center;
  color: #828282;
  position: relative;
  z-index: 1; }
.socket span {
  font-size: 14px; }
.socket .by {
  float: right;
  margin-right: 10%; }
  .socket .by a {
    font-size: 14px;
    color: #fff; }

.up-button:hover svg {
  fill: #001AFF !important;
  margin-top: -34px !important; }

.socials ul li:hover svg {
  fill: #001AFF !important; }

.back-to-top {
  padding-top: 10px;
  display: inline-block; }

.over-ons-afbeelding {
  width: 50%;
  min-height: 170px; }

.hulp {
  width: 50%; }

#homepagina-about {
  margin-bottom: 60px; }
  #homepagina-about h2 {
    font-weight: bold;
    font-size: 28px;
    font-family: 'Roboto', sans-serif; }
  #homepagina-about p {
    color: #828282; }
  #homepagina-about .container {
    padding: 60px 15px; }
  #homepagina-about .about-content {
    position: relative; }
  #homepagina-about .about-btn {
    color: #fff;
    border-radius: 0px;
    font-weight: 500;
    position: relative;
    float: left;
    padding: 10px 20px 10px 20px;
    background: #001AFF;
    border: 1px solid #001AFF;
    margin-right: 10px; }
    #homepagina-about .about-btn:hover {
      background: none;
      color: #001AFF;
      border: 1px solid #001AFF;
      text-decoration: none; }
  #homepagina-about .about-btn-secondair {
    float: left;
    color: #333333;
    border-radius: 0px;
    font-weight: 500;
    position: relative;
    padding: 10px 20px 10px 20px;
    border: 1px solid #333333;
    margin-right: 10px; }
    #homepagina-about .about-btn-secondair:hover {
      color: #fff;
      text-decoration: none;
      background: #001AFF;
      border: 1px solid #001AFF; }
  #homepagina-about .hulp {
    position: absolute;
    top: 0px;
    right: 2%;
    width: 40%; }
    #homepagina-about .hulp .inner-content {
      width: 100%;
      padding: 20px;
      border: 1px solid #F2F2F2;
      display: inline-block;
      position: relative; }
      #homepagina-about .hulp .inner-content:after {
        content: '';
        min-width: 20px;
        min-height: 7px;
        background: white;
        display: inherit;
        right: 6%;
        bottom: -4px;
        position: absolute;
        border-right: 1px solid #F2F2F2;
        border-bottom: 1px solid #F2F2F2;
        transform: rotate(17deg); }
  #homepagina-about .person {
    display: flex;
    align-items: center;
    height: 100px;
    margin: 20px 0px; }
    #homepagina-about .person .profiel-foto {
      flex-grow: 0;
      width: 74px;
      height: 74px;
      background-size: cover;
      border-radius: 999px;
      background-position: center center; }
    #homepagina-about .person .contact-persoon {
      flex-grow: 1;
      text-align: right;
      padding-right: 20px;
      line-height: 20px; }
      #homepagina-about .person .contact-persoon .person-name {
        color: #000;
        width: 100%;
        float: none;
        font-size: 18px;
        font-weight: bold;
        display: inline-block; }
      #homepagina-about .person .contact-persoon .function {
        font-size: 14px;
        color: #BDBDBD; }

.dienst-header {
  width: 100%;
  background-position: center center;
  background-size: cover;
  position: relative; }
  .dienst-header .back-btn {
    top: 60px;
    width: 46px;
    height: 46px;
    background: #fff;
    position: absolute;
    background-image: url(../img/arrow-grey.svg);
    background-position: center center;
    background-repeat: no-repeat;
    transform: rotate(-180deg); }
    .dienst-header .back-btn:hover {
      cursor: pointer;
      background: #001aff;
      border-color: #001aff;
      background-image: url(../img/arrow-white.svg);
      background-position: center center;
      background-repeat: no-repeat; }
  .dienst-header .next-btn {
    top: 60px;
    right: 0px;
    width: 46px;
    height: 46px;
    background: #fff;
    position: absolute;
    background-image: url(../img/arrow-grey.svg);
    background-position: center center;
    background-repeat: no-repeat; }
    .dienst-header .next-btn:hover {
      cursor: pointer;
      background: #001aff;
      border-color: #001aff;
      background-image: url(../img/arrow-white.svg);
      background-position: center center;
      background-repeat: no-repeat; }
  .dienst-header .container .row {
    min-height: 80vh;
    position: relative;
    display: flex;
    align-items: center; }
    .dienst-header .container .row .title {
      position: absolute;
      bottom: 0;
      color: #fff;
      font-size: 108px;
      font-weight: 700;
      max-height: 40%;
      text-transform: uppercase;
      line-height: 58px; }
    .dienst-header .container .row .aanvragen {
      padding: 60px 15px 15px 15px;
      background: white;
      position: relative; }
      .dienst-header .container .row .aanvragen h2 {
        color: #333333;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 20px; }
      .dienst-header .container .row .aanvragen .close-aanvragen {
        position: absolute;
        right: 15px;
        top: 15px;
        width: 18px;
        height: 18px; }
        .dienst-header .container .row .aanvragen .close-aanvragen div {
          background: #333333;
          width: 100%;
          height: 4px;
          border-radius: 2px;
          margin: -4px;
          position: absolute;
          left: 4px;
          top: 12px; }
          .dienst-header .container .row .aanvragen .close-aanvragen div:nth-child(1) {
            transform: rotate(-45deg); }
          .dienst-header .container .row .aanvragen .close-aanvragen div:nth-child(2) {
            transform: rotate(45deg); }
        .dienst-header .container .row .aanvragen .close-aanvragen:hover div {
          background: #001AFF;
          cursor: pointer; }
        .dienst-header .container .row .aanvragen .close-aanvragen:hover {
          cursor: pointer; }

#andere-diensten {
  background: #F8FAFF;
  padding: 60px 0px;
  margin-bottom: 10px; }
  #andere-diensten .container .row h2.title {
    letter-spacing: -1px;
    transform: translateX(-5%);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 28px; }
  #andere-diensten .container .row .dienst-title {
    font-weight: 700;
    font-size: 20px;
    color: #333333; }
  #andere-diensten .anderedienst {
    padding: 30px 15px; }
    #andere-diensten .anderedienst p {
      color: #828282; }

#content {
  padding: 60px 0px; }
  #content p {
    color: #828282; }

.marginauto {
  margin: 0 auto; }

.frm_style_formidable-style.with_frm_style label.frm_primary_label {
  font-weight: normal;
  font-size: 16px;
  color: #000000; }

.aanvragen-hidden {
  animation: mymove 0.4s forwards; }

@keyframes mymove {
  0% {
    margin-top: 0px;
    opacity: 1; }
  90% {
    margin-top: -30%;
    opacity: 0; }
  100% {
    margin-top: -30%;
    opacity: 0;
    visibility: hidden; } }
.btn {
  color: #fff;
  border-radius: 0px;
  font-weight: 500;
  position: relative;
  padding: 10px 60px 10px 20px;
  background: #001AFF;
  border: 2px solid rgba(255, 255, 255, 0); }
  .btn:after {
    content: '';
    height: 10px;
    width: 20px;
    top: 19px;
    right: 20px;
    position: absolute;
    background-repeat: no-repeat;
    background-image: url(../img/arrow-white.svg);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; }
  .btn:hover {
    background: none;
    color: #001AFF;
    border: 2px solid #001AFF; }
  .btn:hover:after {
    right: -12px;
    background-image: url(../img/arrow-blue.svg); }

nav .btn:hover {
  background: none;
  border: 2px solid #fff;
  color: #fff; }
nav .btn:hover:after {
  background-image: url(../img/arrow-white.svg); }

footer .btn:hover {
  background: none;
  border: 2px solid #fff;
  color: #fff; }
footer .btn:hover:after {
  background-image: url(../img/arrow-white.svg); }

.ghost-btn {
  color: #000;
  border-radius: 0px;
  font-weight: 500;
  position: relative;
  padding: 15px 60px 15px 20px;
  background: none;
  border: 1px solid #000; }
  .ghost-btn:hover {
    color: #001AFF;
    border: 1px solid #001AFF;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; }

.ghost-btn:after {
  content: '';
  height: 10px;
  width: 20px;
  top: 21px;
  right: 20px;
  position: absolute;
  background-repeat: no-repeat;
  background-image: url(../img/arrow-dark.svg);
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.ghost-btn:hover:after {
  right: -10px; }

.small-btn {
  color: #001AFF; }
  .small-btn:before {
    content: '';
    height: 8px;
    width: 20px;
    margin-right: 6px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url(../img/arrow-dark.svg);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; }
  .small-btn:hover {
    color: #001AFF; }
  .small-btn:hover:before {
    margin-right: 10px; }

input {
  -webkit-appearance: none;
  border: 1px solid #e0e0e0;
  border-radius: 0px !important;
  padding: 12px !important;
  color: black;
  height: auto !important;
  box-shadow: none !important; }

.nice-select {
  width: 100% !important;
  border: 1px solid #d2d2d2 !important;
  border-radius: 0 !important;
  padding: 1px 10px !important;
  color: #afafaf !important;
  height: auto !important;
  box-shadow: none !important;
  height: auto !important;
  margin-bottom: 20px; }

.nice-select.open .list {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: scale(1) translateY(0);
  -ms-transform: scale(1) translateY(0);
  transform: scale(1) translateY(0);
  width: 100%;
  border-radius: 0px; }

/*# sourceMappingURL=style.css.map */
